<!-- Actions Component (Primary Action Button white version) -->
<div class="actions">

  <!-- Merchant Payment -->
  <div class="primary-action">
    <div class="icon-container">
      <i data-lucide="scan-line"></i>
    </div>
    <span class="label">Merchant<br>Payment</span>
  </div>

  <!-- Bill Payment -->
  <div class="primary-action">
    <div class="icon-container">
      <i data-lucide="receipt"></i>
    </div>
    <span class="label">Bill<br>Payment</span>
  </div>

  <!-- Credit & Saving -->
  <div class="primary-action">
    <div class="icon-container">
      <i data-lucide="hand-coins"></i>
    </div>
    <span class="label">Credit &<br>Saving</span>
  </div>

  <!-- Transfer Money -->
  <div class="primary-action">
    <div class="icon-container">
      <i data-lucide="arrow-left-right"></i>
    </div>
    <span class="label">Transfer<br>Money</span>
  </div>

  <!-- Airtime/Package -->
  <div class="primary-action">
    <div class="icon-container">
      <i data-lucide="package-open"></i>
    </div>
    <span class="label">Airtime/<br>Package</span>
  </div>

  <!-- More Services -->
  <div class="primary-action">
    <div class="icon-container">
      <i data-lucide="layout-grid"></i>
    </div>
    <span class="label">More<br>Services</span>
  </div>

</div>